@model IEnumerable<Lift_application.Models.Articles>
@using Lift_application.Areas.Identity.Data
@using Lift_application.Models;

@{
    ViewData["Title"] = "Главная";
    
}

<!DOCTYPE html>

<html>
<head>
    <title>Главная</title>

    <style>
        .brd
        {
             background:gray;
             padding:20px;
        }
    </style>
</head>
@inject SignInManager<Lift_applicationUser> SignInManager;
@inject UserManager<Lift_applicationUser> UserManager
<body>
    <h3>Материалы</h3>
    
        
        @foreach (var phone in Model)
        {
            

        @if(phone.SourceInfo == "" || phone.SourceInfo == "My" || phone.SourceInfo =="-")
        {
           <div class="brd">
                <h2><a href="~/Home/Articles/@phone.Id">@phone.Title</a></h2>
            <p>@phone.Description ...</p>

            @if (SignInManager.IsSignedIn(User))
            {
                if(User.IsInRole("admin"))
                {
                    <a href="~/UserPanel/Delete/@phone.Id">Удалить</a>
                }
            }
           </div>
            <br/>
            
        }
        else
        {
            <div class="brd">
                <h2>@phone.Title</h2>
                <p>@phone.Description ...</p>
                <p>Источник: <a href="@phone.SourceInfo">@phone.SourceInfo</a></p>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("admin"))
                    {
                        <a href="~/UserPanel/Delete/@phone.Id">Удалить</a>
                    }
                }
            </div>
            <br />
        }

    }
    
    
</body>
</html>