@model List<Lift_application.Models.Articles>
@using Lift_application.Areas.Identity.Data
@using Lift_application.Models;

@{
    ViewData["Title"] = "Главная";

}

<!DOCTYPE html>

<html>
<head>
    <title>Главная</title>

    <style>
        .brd {
            background: gray;
            padding: 20px;
        }
        .image-article
        {
            width:50%;
            
            padding:10px;
            margin: 0 auto;
        }
    </style>
</head>
@inject SignInManager<Lift_applicationUser> SignInManager;
@inject UserManager<Lift_applicationUser> UserManager

<body>
    <h3>Материалы</h3>
    @foreach (var cat in ViewBag.Cat)
    {
        <div>
            <a href="/?categor=@cat.Id">@cat.Name</a>
        </div>
    }


    @*@foreach(var f in ViewBag.cate)
    {
    if (f == null)
    {
    <p>No</p>
    }
    else
    {
    <p>@f.ToString()</p>
    }

    }*@

    @foreach (var phone in Model.OrderByDescending(p => p.Id).ThenBy(p => p.Id).ToList())
    {


        @if (phone.SourceInfo == "" || phone.SourceInfo == "My" || phone.SourceInfo == "-")
        {
            <div class="brd">
                <h2><a href="~/Home/Articles/@phone.Id">@phone.Title</a></h2>
                <p>@Html.Raw(phone.Description) ...</p>
                @if(phone.Image!=null)
                {
                    <img src="@phone.Image" class="image-article">
                    <br />
                }

                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("admin"))
                    {
                        <a href="~/UserPanel/Delete/@phone.Id">Удалить</a>
                    }
                }
            </div>
            <br />

        }
        else
        {


            <div class="brd">
                <h2>@phone.Title</h2>
                <p>@phone.Description ...</p>
                @if (phone.Image != null)
                {
                    <img src="@phone.Image" class="image-article">
                    <br />
                }

                <p>Источник: <a href="@phone.SourceInfo">@phone.SourceInfo</a></p>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("admin"))
                    {
                        <a href="~/UserPanel/Delete/@phone.Id">Удалить</a>
                    }
                }
            </div>
            <br />
        }
    }




</body>
</html>